@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.scrollmenu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollmenu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  div.scrollmenu {
    overflow-x: scroll;
    white-space: nowrap;
      display: flex;
    overflow-y: none;
  }

  .deti:hover{
    transform: scale(1.1);
}

.card{
	font-size: 10px; text-align: center;
	   padding-left: 8px;padding-right: 8px;
}
.deti{min-width:100px;max-height:100px;object-fit: contain;border-radius: 8px;transition: transform 450ms;}

.subh {font-family: 'Lato', sans-serif;
  font-size: 15px;width:100%;padding-left: 15px;font-weight: 600; }
  .subh a{color:#000000; text-decoration:none;}

  @media only screen and (min-width: 768px) {
    .deti{max-width:150px;min-height: 150px; border-radius: 10px;}
    .card{font-size: 15px;}
  }
  