@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.scrollmenu::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollmenu {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
      display: flex;
    overflow-y: hidden;
  }

  .card:hover{
    transform: scale(1.1);
}
div.scrollmenu a {
  
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.card{
	font-size: 10px; text-align: center;
	  transition: transform 450ms;
}
.deti{width:80px; height: 80px;}

.subh {font-family: 'Lato', sans-serif;
  font-size: 15px;width:100%;padding-left: 15px;font-weight: 600; }
  .subh a{color:#000000; text-decoration:none;}

  @media only screen and (min-width: 768px) {
    .deti{width:190px; height: 190px;}
    .card{font-size: 15px;}
  }
  